<%- include("header") -%>

<div class="box" id="heading">
  <h1>This is the about page</h1>
</div>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto placeat quo
  iure illum dolorum a praesentium, hic dicta repudiandae at!
</p>

<%- include("footer") -%>
